div.intro h3 {
    text-align: left;
    font-weight: bold;
    color: white;
}

section.intro p {
    text-align: left;
    font-weight: bold;
    color: rgb(23, 1, 119);
}

#background {
    background-image: url('../images/kotta.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#leftbox {
    float: left;
    background: Red;
    width: 33%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#middlebox {
    float: left;
    background: Green;
    width: 33%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#rightbox {
    float: right;
    background: blue;
    width: 34%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}